#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

#text {
    padding-left: 20%;
    font-size: max(3vw);
}

#cursive {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}

.fab {
    font-size: 2rem;
}